menuconfig SIMPLEMESH
	bool "Simple Mesh Protocol"
	default n
	depends on ESB
	help
	  Enable SIMPLEMESH functionality.

if SIMPLEMESH

config SM_LISTENER
	bool "device RX listen when idle"
	default y
	help
	  If the device is listening when not transmitting

config SM_COORDINATOR
	bool "assign short ids"
	default y
	help
	  If the device assigns short ids

config SM_SNIFFER
	bool "sniff only"
	default n
	help
	  do not interact with the mesh do not egt short id

config SM_CHANNEL
	int "RF Channel"
	default 20
	help
	  The RF Channel (2400 + SM_CHANNEL) MHz

endif # SIMPLEMESH
