menuconfig SIMPLEMESH
	bool "Simple Mesh Protocol"
	default n
	depends on ESB
	help
	  Enable SIMPLEMESH functionality.

if SIMPLEMESH

config SM_LISTENER
	bool "device RX listen when idle"
	default y
	help
	  If the device is listening when not transmitting

config SM_COORDINATOR
	bool "assign short ids"
	default y
	help
	  If the device assigns short ids

config SM_CHANNEL
	int "RF Channel"
	default 20
	help
	  The RF Channel (2400 + SM_CHANNEL) MHz

	config SM_GPIO_DEBUG
		bool "simple mesh gpio debug"
		default n
		help
		Enable gpio debug for simple mesh

	if SM_GPIO_DEBUG
		config SM_PIN_APP
			int "gpio debug for simple mesh 2.4GHz radio"
			default 13
			help
			The default used pin is the DWM1001-Dev kit [nRF] P0.13 => M_PIN17 => J7 pin 8
	endif # SM_GPIO_DEBUG
endif # SIMPLEMESH
